@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0.5turn, #a8d6e2, #dafbc4, #5ef0ae);
}
.calculator{
    border: 5px solid #888c9f;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 10px 10px 15px rgba(255, 255, 255, 0.99);
}
input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(10, 6, 6, 0.1);
    font-size: 40px;
    text-align: right;
    border-radius: 20%;
 cursor: pointer;
 color: rgb(15, 95, 91);

}
input::placeholder{
    color: white;
}
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: white;
    font-size: 20px;
    box-shadow: -8px -8px 10px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.equalbtn{
    background-color: #fb7c14;
}
.delete{
    background-color: red;
}
.operator{
    color: rgb(232, 42, 17);
    background-color: rgb(121, 203, 239);
}
.ac{
    background-color:cadetblue;
}
header{
    color: white;
    font-size: 4rem;
    text-align: center;
}
.digits{
    background-color: #0c839b;
}